---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import { lang } from "@/components/global/constants";
---

<html lang={lang}>
  <head>
    <BaseHead />
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <Navigation />
    <main class="flex-grow"><slot /></main>
    <Footer />
  </body>
</html>
